.icon {
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
}

.mail {
    content: url("../images/icons/mail.svg");
}

.IL-phone {
    content: url("../images/icons/IL-phone.svg");
}

.US-phone {
    content: url("../images/icons/US-phone.svg");
}

.linkedin {
    content: url("../images/icons/linkedin.svg");
}

.whatsapp {
    content: url("../images/icons/whatsapp.svg");
}

.privacy {
    content: url("../images/icons/privacy.svg");
}

.terms {
    content: url("../images/icons/terms.svg");
}

.settings {
    content: url("../images/icons/settings.svg");
}