nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    top: 0;
    left: 0;
    height: 6rem;
    width: 100%;
    border-bottom: #FFFFFF solid 1px;
    background: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px) saturate(125%);
    -webkit-backdrop-filter: blur(5px) saturate(125%);
    z-index: 2;
}

.logox {
    place-self: center;
}

nav .nav-items {
    display: flex;
    column-gap: 3rem;
    align-self: center;
}

nav .nav-items a {
    display: inline-block;
    align-self: center;
}

.checkbtn {
    font-size: 30px;
    color: white;
    line-height: 80px;
    cursor: pointer;
    display: none;
    align-self: center;
}

#check {
    display: none;
}

@media (max-width: 992px) {
    nav {
        padding: 0 2rem;
    }

    .checkbtn {
        display: block;
    }

    .nav-items {
        flex-direction: column;
        row-gap: 3rem;
        position: fixed;
        width: 100%;
        height: 100svh;
        background: #CFDDD2;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav .nav-items a {
        display: block;

    }

    a:hover, a.activex {
        background: none;
        color: #0082e6;
    }

    #check:checked ~ .nav-items {
        left: 0;
    }

    body:has(#check:checked) {
        overflow: hidden;
    }

    nav:has(#check:checked) {
        transition: background-position 0.2s linear;
        -webkit-transition: background-color 0.2s linear;
        -moz-transition: background-color 0.2s linear;
        -o-transition: background-color 0.2s linear;
        background: linear-gradient(to right, #CFDDD2 50%, transparent 0) 0;
        background-size: 200% 100%;
        animation: makeItfadeIn 0.5s;
    }

    nav:has(#check:not(:checked)) {
        transition: background-position 0.2s linear;
        -webkit-transition: background-color 0.2s linear;
        -moz-transition: background-color 0.2s linear;
        -o-transition: background-color 0.2s linear;
        background: linear-gradient(to right, #CFDDD2 50%, transparent 0) 100%;
        background-size: 200% 100%;
        animation: makeItfadeOut 0.5s;
    }
}

@keyframes makeItfadeIn {
    0% {
        background-position: 100%;
    }
}

@keyframes makeItfadeOut {
    0% {
        background-position: 0;
    }
}

/* Define the shape and color of the hamburger lines */

#nav-icon {
 width: 45px;
    height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #0C3D35;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0;
}

#nav-icon span:nth-child(2), #nav-icon span:nth-child(3) {
  top: 18px;
}

#nav-icon span:nth-child(4) {
  top: 36px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

