* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    color: #0C3D35;
}

.section-header {
    color: #69A573;
    font-size: 1.2em;
    padding-bottom: 2.5rem;
}

nav {
    height: 100px;
    border-bottom-color: white;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
}

.nav-link {
    color: #0D4A40;
}

#nav-home {
    background-image: url("../images/background_header.png");
    background-size: cover;
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
}

#home {
    background: linear-gradient(180deg, rgba(234, 240, 235, 0) 0%, #EBF1EC 83.91%);
    width: 100%;
    height: 78vh;
    line-height: 3rem;
    font-size: x-large;
}

.introduction {
    padding: 2rem 0 0 2rem;
    animation: fadeUpAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.introduction h1 {
    font-style: normal;
    font-weight: 700;
    /*font-size: 128px;*/
    letter-spacing: -0.021em;
}

.gradient {
    height: 407px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}

#services {
    background: #EDF3EE;
    padding: 2rem 2rem;
}

#services h4 {
    color: #0C3D35;
    font-weight: 700;
}

.service-desc{
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    /* or 159% */
    letter-spacing: -0.017em;
    color: #0C3D35;
}

.service-desc span{
    font-weight: 700;
}

.service-icon {
    width: 100px;
    gap: 47px;
}

#testimonials {
    background: #CFDDD2;
    padding: 2rem 2rem;
}

.carousel-item p {
    font-weight: bolder;
    font-size: 1.2rem;
}

#carouselTestimonials {
    background: #CFDDD2;
    height: auto;
    padding: 2rem 2rem;
}

#about {
    background: #EDF3EE;
    padding: 2rem 2rem;
}

.about {
    place-content: center;
}

.about-header {
    padding-bottom: 8rem;
}

#about img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#our-team {
    background: #D0DFD4;
    padding: 2rem 2rem;
}

.team {
    width: fit-content;
    gap: 47px;
}

.team-img {
}

.david-img .brooks-img {
    background: #D0DFD4;
    width: 304px;
    height: 304px;
    object-fit: cover;
}

.team-name {
    color: #0c4128;
}

.team-title {
    font-size: 1rem;
}

#contact {
    background: #E8F0E8;
    padding: 2rem 2rem;
    caret-color: #0D4A40;
}

.contact-form form {
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


#contact input::placeholder {
    text-align: center;
    line-height: 50px;
}

.form-control {
    border-color: #69A573;
}

footer {
    background: #0D4A40;
    text-align: center;
    color: #69A573;
    padding: 1rem 0;
}

footer .footer-text {
    color: #ECEDEE;
}

@keyframes fadeUpAnimation {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    75% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (min-width: 800px) {
    .nav-container {
        position: fixed;
        top: 0;
        padding: .5rem 7.5rem;
        z-index: 9;
        gap: 20px;
    }

    .nav-container.scrolled {
        background-color: #fff !important;
        transition: background-color 200ms linear;
    }

    .navbar-nav {
        gap: 20px;
    }

    #home {
        height: 70vh;
    }

    .introduction {
        padding: 8rem 0 0 19.5rem;
    }

    .introduction h1 {
        font-weight: 700;
        font-size: 8rem;
        line-height: 150px;
        letter-spacing: -0.021em;
    }

    #services {
        padding: 10rem 16.5rem;
    }

    #services h1 {
        padding-bottom: 5rem;
    }

    .service-items {
        gap: 6.313rem;
    }

    #testimonials {
        padding: 10rem 7.5rem;
    }

    .carousel-item p {
        font-size: 2rem;
    }

    #about {
        padding: 10rem 16.313rem;
    }

    #our-team {
        padding: 10rem 20.75rem;
    }

    #contact {
        padding: 10rem 43.313rem;
    }

    .about-statements {
        max-width: 50%;
    }
}
